<p>
  <strong>Title:</strong>
</p>
<%= form_with model: books.new do |f| %>
<p>
  <strong>Body:</strong>
</p>

<a class="edit_58449" href="/books/58449/edit">Edit</a>
 
 |

<a class="back" href="/books">Back</a>